# # Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all json files to avoid service-accounts-credentials being uploaded
*.json

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
